<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--<?define sourceFolder="..\Winleafs.Wpf\bin\Release\netcoreapp3.0\win10-x64\publish"?>-->
  <Product Id="*" UpgradeCode="42ee9157-4382-4852-bed7-72b25fb2d0bf" Version="1.0.0" Language="1033" Name="Winleafs" Manufacturer="Stijn Oostdam">
    <Package Compressed="yes" />
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
    <!-- Add installer icon -->
    <!--<Icon Id="icon.ico" SourceFile="$(var.sourceFolder)\..\..\..\..\..\Media\Winleafs.ico" />-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="CLEF Tool" Level="1">
      <ComponentGroupRef Id="ClefTool_Project" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SetupProject2" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!--<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">-->
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!--<Component Id="ProductComponent">-->

        <!-- TODO: Insert files, registry keys, and other resources here. -->

      <!--</Component>-->
    <!--</ComponentGroup>-->
  </Fragment>
</Wix>
