<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define sourceFolder="..\Winleafs.Wpf\bin\Release\netcoreapp3.0"?>
  <Product Id="*" UpgradeCode="42ee9157-4382-4852-bed7-72b25fb2d0bf" Version="0.5.6" Language="1033" Name="Winleafs" Manufacturer="Stijn Oostdam">
    <Package Compressed="yes" />
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
    <!-- Add installer icon -->
    <Icon Id="icon.ico" SourceFile="$(var.sourceFolder)\..\..\..\..\Media\Winleafs.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <!-- Step  1: Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Winleafs">
          <Directory Id="directory_nl" Name="nl" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Winleafs" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>
    <!-- Step 2: Add files to your installer package -->
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="Hardcodet.Wpf.TaskbarNotification.dll" Guid="06ad2df4-5946-4759-83e3-026a3ab492ee">
        <File Id="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.sourceFolder)\Hardcodet.Wpf.TaskbarNotification.dll" KeyPath="yes" />
      </Component>
      <Component Id="JsonMigrator.dll" Guid="cf867448-69fa-45d5-b9bb-86aa0135a6d8">
        <File Id="JsonMigrator.dll" Source="$(var.sourceFolder)\JsonMigrator.dll" KeyPath="yes" />
      </Component>
      <Component Id="MaterialDesignColors.dll" Guid="a12e1c56-87ce-4c08-bdc1-95af7ab7cd7b">
        <File Id="MaterialDesignColors.dll" Source="$(var.sourceFolder)\MaterialDesignColors.dll" KeyPath="yes" />
      </Component>
      <Component Id="MaterialDesignThemes.Wpf.dll" Guid="24b7575f-c388-4386-a6b1-d78d5ee95e37">
        <File Id="MaterialDesignThemes.Wpf.dll" Source="$(var.sourceFolder)\MaterialDesignThemes.Wpf.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="2ff47280-f3e7-4be4-8bbb-68601444e176">
        <File Id="Newtonsoft.Json.dll" Source="$(var.sourceFolder)\Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="NLog.config" Guid="77149d35-7073-470a-9e78-cf9724eaa9f1">
        <File Id="NLog.config" Source="$(var.sourceFolder)\NLog.config" KeyPath="yes" />
      </Component>
      <Component Id="NLog.dll" Guid="c7e002b8-70d5-4fa5-89eb-4a992690b810">
        <File Id="NLog.dll" Source="$(var.sourceFolder)\NLog.dll" KeyPath="yes" />
      </Component>
      <Component Id="Octokit.dll" Guid="d8195bb3-312d-4870-8b58-11b1bce1d91d">
        <File Id="Octokit.dll" Source="$(var.sourceFolder)\Octokit.dll" KeyPath="yes" />
      </Component>
      <Component Id="Polly.dll" Guid="43089f18-dd1a-44df-96eb-a7d6d85c664c">
        <File Id="Polly.dll" Source="$(var.sourceFolder)\Polly.dll" KeyPath="yes" />
      </Component>
      <Component Id="RestSharp.dll" Guid="6a6a4cea-110c-4407-bc1d-052a1ae96989">
        <File Id="RestSharp.dll" Source="$(var.sourceFolder)\RestSharp.dll" KeyPath="yes" />
      </Component>     
      <Component Id="Tmds.MDns.dll" Guid="5a242aee-8ecf-48c0-96fe-bb5ca4e9c70e">
        <File Id="Tmds.MDns.dll" Source="$(var.sourceFolder)\Tmds.MDns.dll" KeyPath="yes" />
      </Component>
      <Component Id="WindowsDisplayAPI.dll" Guid="2b040161-eae6-4324-b23a-e95cb8c7bf55">
        <File Id="WindowsDisplayAPI.dll" Source="$(var.sourceFolder)\WindowsDisplayAPI.dll" KeyPath="yes" />
      </Component>
      <Component Id="Winleafs.Api.dll" Guid="fecc60d5-5959-4ea8-bd75-755954afdadd">
        <File Id="Winleafs.Api.dll" Source="$(var.sourceFolder)\Winleafs.Api.dll" KeyPath="yes" />
      </Component>
      <Component Id="Winleafs.External.dll" Guid="03ae861d-3c12-4be8-b04e-8f34e0e95a5b">
        <File Id="Winleafs.External.dll" Source="$(var.sourceFolder)\Winleafs.External.dll" KeyPath="yes" />
      </Component>
      <Component Id="Winleafs.Models.dll" Guid="a5aebc01-bd14-4f61-901e-756c1062bb42">
        <File Id="Winleafs.Models.dll" Source="$(var.sourceFolder)\Winleafs.Models.dll" KeyPath="yes" />
      </Component>
      <Component Id="Winleafs.Wpf.dll" Guid="dcb9d1e7-e37a-4a05-bba8-f6ca205d72bf">
        <File Id="Winleafs.Wpf.dll" Source="$(var.sourceFolder)\Winleafs.Wpf.dll" KeyPath="yes" />
      </Component>
      <Component Id="Winleafs.Wpf.exe" Guid="0053cf12-0f5b-4248-945f-aa383c12a414">
        <File Id="Winleafs.Wpf.exe" Source="$(var.sourceFolder)\Winleafs.Wpf.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Winleafs.Wpf.runtimeconfig.json" Guid="a450c658-401f-4d50-b515-516810a22458">
        <File Id="Winleafs.Wpf.runtimeconfig.json" Source="$(var.sourceFolder)\Winleafs.Wpf.runtimeconfig.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.dll" Guid="41ed8037-9f68-42f7-998a-3ddbfc28e463">
        <File Id="Xceed.Wpf.AvalonDock.dll" Source="$(var.sourceFolder)\Xceed.Wpf.AvalonDock.dll" KeyPath="yes" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="dd0c455a-f2d9-4bf5-bd66-a7e24a30b0b7">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="$(var.sourceFolder)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" KeyPath="yes" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="35252e73-5263-4c0d-aad0-c20272f332db">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="$(var.sourceFolder)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" KeyPath="yes" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="ae182663-b9b5-463c-9206-54aa06159711">
        <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="$(var.sourceFolder)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" KeyPath="yes" />
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll" Guid="8efeecd1-b571-4eab-83a8-5555bee173d5">
        <File Id="Xceed.Wpf.Toolkit.dll" Source="$(var.sourceFolder)\Xceed.Wpf.Toolkit.dll" KeyPath="yes" />
      </Component>      
    </DirectoryRef>
    <DirectoryRef Id="directory_nl">
      <Component Id="Winleafs.Wpf.resources.dll" Guid="32276e83-fd2a-48bb-8765-cd6634322c5f">
        <File Id="Winleafs.Wpf.resources.dll" Source="$(var.sourceFolder)\nl\Winleafs.Wpf.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="33bf752d-c561-4abe-b830-450437a70da6">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Winleafs" Description="Windows application to control your Nanoleaf lights" Target="[#Winleafs.Wpf.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Winleafs" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="*">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Winleafs" Description="Windows application to control your Nanoleaf lights" Target="[#Winleafs.Wpf.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software/Winleafs" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!-- Step 3: Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="Hardcodet.Wpf.TaskbarNotification.dll" />
      <ComponentRef Id="JsonMigrator.dll" />
      <ComponentRef Id="MaterialDesignColors.dll" />
      <ComponentRef Id="MaterialDesignThemes.Wpf.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="NLog.config" />
      <ComponentRef Id="NLog.dll" />
      <ComponentRef Id="Octokit.dll" />
      <ComponentRef Id="Polly.dll" />
      <ComponentRef Id="RestSharp.dll" />      
      <ComponentRef Id="Tmds.MDns.dll" />
      <ComponentRef Id="WindowsDisplayAPI.dll" />
      <ComponentRef Id="Winleafs.Api.dll" />
      <ComponentRef Id="Winleafs.External.dll" />
      <ComponentRef Id="Winleafs.Models.dll" />
      <ComponentRef Id="Winleafs.Wpf.dll" />
      <ComponentRef Id="Winleafs.Wpf.exe" />
      <ComponentRef Id="Winleafs.Wpf.runtimeconfig.json" />
      <ComponentRef Id="Winleafs.Wpf.resources.dll" />
      
      <ComponentRef Id="Xceed.Wpf.AvalonDock.dll" />
      <ComponentRef Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      <ComponentRef Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      <ComponentRef Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      <ComponentRef Id="Xceed.Wpf.Toolkit.dll" />
    </Feature>
    <!-- Step 4: Sign the MSI Install, else Web user will get unknown publisher message -->
    <!-- Signing is done by executing a post-build batch file configured in project properties -->
  </Product>
</Wix>